@media screen and (max-width: 1280px) {


    main {

        .container--feed-task-progress-shipments {
            flex-wrap: wrap;

            .feed {
                min-height: 400px;

                .feed__message--additional {
                    max-width: 600px;
                }
            }

            .container--task-progress-shipments {
                width: 100%;

                .container--progress-shipments {
                    justify-content: center;
                }
            }
        }
    }

}




@media screen and (max-width: 1000px) {

    header {

        .profile-menu__input {
            order: 2;
            width: 45%;
            margin-left: 18px;

            .input {
                min-width: 100%;
                
            }
        }

        .profiler-menu__profile {
            order: 3;
            margin-left: auto;
        }

        .profile-menu .icon {
            width: 16.66%;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #F1F1F1;
        }
        
        .profile-menu .icon--upload {
            border-left: none;
        }

        .daily-stat {
            padding: 10px 0 10px 10px;

            button {
                width: 140px;
            }
        }

    }

    .container--main-aside {
        display: flex;
        flex-direction: column;

        aside {
            width: 100%;
            margin: 1.25vw auto 2.5vw auto;

            .chat {

                height: 320px;

            }

            .btn--zoom-in {
                margin-right: auto;
            }

            .aside-input {

                .input {
                    width: 90%
                }
            }


            .featured-companys {
                width: 100%;
                margin-bottom: 15px;

                .featured-companys__buttons {
                    padding: 0;
                    
                    button {
                        margin: 5px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 640px) {

    body {
        width: 100%;
    }

    .navigation {
        display: none;
    }

    header {

        .mobile-header {
            display: flex;
            background: linear-gradient(#EE7055,#FD5272);

            a {
                margin-left: auto;
            }
    
            .zoom-in {
                display: block;
                margin-left: auto;
            }
            .profile-photo {
                display: block;
            }
        }

        .profile-menu {

            .profile-menu__input {
                display: none;
            }

            .profiler-menu__profile {
                display: none;
            }
        }
    }

    main {

        width: 100%;
        padding: 0;

        .container--revenue-graphic-revenue-per-hour {
            width: 100%;
            flex-wrap: wrap;

            .revenue-graphic {
                flex-wrap: wrap;
                width: 90vw;
                height: 400px; 
                margin: 5vw auto 1.25vw auto;


                .container {
                
                    height: 200px;
                
                    .revenue-graphic__graphic {
                        width: 582px;
                        height: 200px;

                    }

                    .revenue-graphic__graphic::after {
                        content: '';
                        width: 582px;
                        height: 1px;
                        background-color: #F1F1F1;
                        position: absolute;
                        left: 0;
                        top: 68px;
                    }
    
                    .revenue-graphic__graphic::before {
                        content: '';
                        width: 582px;
                        height: 1px;
                        background-color: #F1F1F1;
                        position: absolute;
                        left: 0;
                        top: 130px;
                    }
                }

                .revenue-graphic__buttons {
                    display: none;
                }
            }

            .revenue--per-hour {
                margin: 1.25vw auto;
                width: 90vw;
                height: 90vw;
            }

        }

        .container--feed-task-progress-shipments {

            .feed {
                margin: 1.25vw auto;
                width: 90vw;
                padding: 15px;

                h2 {
                    padding-bottom: 15px;
                }
            }

            .container--task-progress-shipments {

                margin: 0;

                .task {
                    width: 90vw;
                    height: 60vh;
                    margin: 1.25vw auto;
                    padding: 15px 15px 60px 15px;
                }

                .container--progress-shipments {
                    flex-wrap: wrap;
        
                    .progress {
                        width: 90vw;
                        height: 90vw;
                        margin: 1.25vw auto;
                    }
        
                    .shipments {
                        width: 90vw;
                        height: 90vw;
                        margin: 1.25vw auto;
                    }
                }
            }
        } 
    }
}
