.navigation {
    width: 70px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#EE7055,#FD5272);
    box-shadow: 0 0 10px #00000033;

    a {
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: #FFFFFF;
    }

    .logo {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        

        a {
            font-family: 'Deftone Stylus', arial;
            font-weight: 900;
            font-size: 30px;
            text-transform: uppercase;
            background: linear-gradient(#EE7055,#FD5272); 
            -webkit-background-clip: text;  
            color: transparent;
            padding: 0 20px 0 10px;
        }
    }

    .main-nav__list {
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 10px;

        .main-nav__item {
            width: 100%;
            height: 60px;
            margin: 5px auto;
            list-style-type: none;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            cursor: pointer;
        }

        .main-nav__item:hover {
            background-color: #ffffff56;
        }

        .main-nav__item:nth-child(1){
            position: relative;
        }

        .main-nav__item:nth-child(1)::before {
            content: '';
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-left: 7px solid #EE7055;
            margin: 50px;
            position: absolute;
            left: 20px;
            top: -20px;
        }
      
        .main-nav__item--home {
            background: url(../../img/nav-home.png) center center no-repeat;
        }
        .main-nav__item--stactics {
            background: url(../../img/nav-bar-chart.png) center center no-repeat;
        }
        .main-nav__item--users {
            background: url(../../img/nav-user.png) center center no-repeat;
        }
        .main-nav__item--settings {
            background: url(../../img/nav-settings.png) center center no-repeat;
        }
        .main-nav__item--quires {
            background: url(../../img/nav-information.png) center center no-repeat;
        }
    }

    .power-button {
        width: 70px;
        height: 70px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        
        .btn {
            width: 20px;
            height: 20px;
            background: url(../../img/power-button.png) center center no-repeat;
            border: 0;
            border-radius: 50%;
            outline: 0;
        }
    }
}