
@import "./mixin";
@import "./variables";

@import './nav';
@import './header';
@import './aside';
@import './main';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container--body {
    max-width: 1366px;
    font-family: 'Lato', sans-serif;;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 0 10px #00000033;
}

.container--header-main-aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.container--header {
    display: flex;
    flex-direction: column;
}

.container--main-aside {
    display: flex;
    width: 100%;
}

.container--aside-buttons {
    display: flex;
}

.container--progress-shipments {
    display: flex;
}

.container--revenue-graphic-revenue-per-hour {
    display: flex;
    flex: 1 1 100%;
}

.container--feed-task-progress-shipments {
    display: flex;
}

.container--task-progress-shipments {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.container--progress-shipments {
    display: flex;
    width: 100%;
    margin-top: auto;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0; 
    padding-left: 0; 
}
h2 {
    font-size: 14px;
    font-weight: bold;
    color: #767676;
}

@import './media';








